language: python
dist: xenial
python:
  - "3.8"
services:
  - xvfb
addons:
  sauce_connect:
    username: "pipebustamante"
    access_key: "63170bb9-7aec-4931-991f-424de3f257fa"
  firefox: latest
  chrome: stable

before_install:
  - # start your web application and listen on `localhost`
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install selenium
  - pip install webdriver-manager
# command to run tests
before_script:
  - python manage.py runserver &
script:
  - xvfb-run wct
  - pytest
